#
# Properties template for the io.confluent.connect.jdbc.source.integration.FilemakerDialectIT test
#
# Save a copy of this file named  FilemakerJdbcConnect.properties (will be ignored by git) and 
# set the jdbc connection parameters as needed

# below property will be used as jdbc:filemaker://my.server.net:2399/FM-DB-NAME?param=1
host_port_path_params=my.server.net:2399/FM-DB-NAME?param=1
user=
password=
